@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 100000;
}

nav > .logo{
    margin-left: 2vw;
    font-size: 1.2vw;
}

nav > input {
    display: none;
}

nav > label {
    display: none;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    margin-right: 4vw;
    list-style: none;
    width: auto;
    height: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav > ul > li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.1vw;
}

nav > ul > li a:hover {
    text-shadow: 0 0 0.5vw white;
    transition: all 0.3s ease-in-out;
}

nav > ul > li a::after {
    content: '';
    width: 100%;
    height: 0.7vh;
    background-color: white;
    box-shadow: 0 0 0.5vw 0.1vw white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-150%);
    transition: all 0.3s ease-in-out;

}
nav > ul > li a:hover::after {
    transform: translateX(0);
}

main {
    width: 100vw;
}

main > div {
    width: 100%;
    height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#content1 {
    order: 1; 
}

#aboutme {
    order: 2;
}

#content1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content1 > h1 {
    margin-top: 10vh;
    font-size: 4vw;
}


#content1 > input {
    display: none;
}

#content1 > label {
    width: 100%;
    height: 30%;
    z-index: 9;
}

#content1 > label > h2 {
    font-size: 9vw;
    letter-spacing: 0.2vh;
    font-family: 'Audiowide', sans-serif;
    position: absolute;
    top: 20%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    cursor: pointer;
    
}


#content1 > h2{
    color: white;
    font-size: 9vw;
    letter-spacing: 0.2vh;
    -webkit-text-stroke: 0.2vw black ;
    font-family: 'Audiowide', sans-serif;
    position: absolute;
    top: 20%;
    transform: translateY(6vh);
    z-index: 1;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;

}
#content1 > input + label > h2 {
    position: absolute;
    color: black;
    z-index: 1;
}

#content1 > input:checked + label > h2 {
    transform: translateY(6vh);
    opacity: 0.2;
    z-index: -1;
    -webkit-text-stroke: 0.2vw black ;
    color: white;

}

#content1 > input:checked ~ h2 {
    position: absolute;
    transform: translateY(0);
    color: black;
    -webkit-text-stroke: none ;
    opacity: 1;
    z-index: 1;
}

#content1 > .wrapimage > img{
    z-index: 10;
    width: 40vw;
    height: 70vh;
    transition: all 0.5s ease-in-out;
} 

#content1 > .wrapimage {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height:70vh;
    position: relative;
    z-index: 10;
    position: absolute;
    bottom: 0;
}


#content1 > .wrapimage > .webdevoloper,
#content1 > .wrapimage > .UiUx
 {
    width:45vw ;
    position: relative;
    overflow: hidden;
}

#content1 > .wrapimage > .webdevoloper > input,
#content1 > .wrapimage > .UiUx > input {
    display: none;
}
#content1 > .wrapimage > .webdevoloper > input + label {
    position: absolute;
    top: 27%;
    right: 3%;
    cursor: pointer;
    transform: translate(0);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    box-shadow: 0 0 1vw gray;
    background-color: white;
    z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in-out;
    

}
#content1 > .wrapimage > .webdevoloper > input ~ .text {
    padding: 1vw;
    width: 80%;
    height: 60%;
    background-color: white;
    box-shadow: 0 0 1vw gray;
    position: absolute;
    top: 30%;
    right: 0;
   transition: all 0.5s ease-in-out;
   transform: translateX(120%);
}

#content1 > .wrapimage > .webdevoloper > input ~ .text > h2 {
    text-indent: 1.5vw;
    font-size: 1.8vw;
}

#content1 > .wrapimage > .webdevoloper > input ~ .text > p {
    text-indent: 2vw;
    text-align: justify;
    margin-top: 2vh;
    line-height: 1.5;
    font-size: 1vw;

}

#content1 > .wrapimage > .webdevoloper > input ~ .text > a {
    padding: 2vh 2vw;
    background-color: white;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1vw;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 1vw gray;
    transition: all 0.6s ease-in-out ;

}

#content1 > .wrapimage > .webdevoloper > input:checked + label {
    transform: translateX(-960%);
}

#content1 > .wrapimage > .webdevoloper > input:checked + label > i::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
}

#content1 > .wrapimage > .webdevoloper > input:checked ~ .text {
    transform: translate(-10%);
} 

#content1 > .wrapimage > .UiUx > input + label {
    position: absolute;
    top: 27%;
    left: 2%;
    cursor: pointer;
    transform: translate(0);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    box-shadow: 0 0 1vw gray;
    background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in-out;
    

}
#content1 > .wrapimage > .UiUx > input ~ .text {
    padding: 1vw;
    width: 80%;
    height: 60%;
    box-shadow: 0 0 1vw gray;
    position: absolute;
    top: 30%;
    left: 0;
   transition: all 0.5s ease-in-out;
   transform: translateX(-120%);
}

#content1 > .wrapimage > .UiUx > input:checked + label {
    transform: translateX(960%);
    z-index: 100;
}

#content1 > .wrapimage > .UiUx > input ~ .text > h2 {
    text-indent: 1.5vw;
    font-size: 1.8vw;
}

#content1 > .wrapimage > .UiUx > input ~ .text > p {
    text-indent: 2vw;
    text-align: justify;
    margin-top: 2vh;
    line-height: 1.5;
    font-size: 1vw;

}

#content1 > .wrapimage > .UiUx > input:checked + label > i::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
}

#content1 > .wrapimage > .UiUx > input:checked ~ .text {
    transform: translate(10%);
} 

#content1 > .wrapimage > .UiUx > input ~ .text > a {
    padding: 2vh 2vw;
    background-color: white;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1vw;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 1vw gray;
    transition: all 0.6s ease-in-out ;

}
 
#aboutme{
    width: 100vw;
    height: 100vh;
    position: relative;
}



#aboutme:target ~ #content1 > .wrapimage > img {
    transform: translateY(69vh)
               translateX(-39vw) 
               scale(0.3);
    transition: all 0.5s ease-in-out;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 1vw gray,
                0 0 1.5vw gray;
}

#aboutme > .biodata {
    width: 18vw;
    height: 42vh;
    position: absolute;
    top: 15vh;
    left: 2vw;
    box-shadow: 0 0 1vw gray;
    border-radius: 30px;
    padding-top: 1vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;    
    transform: translateX(-50vw);
    transition: all 0.5s ease-in-out;
}

#aboutme:target > .biodata {
    transform: translateX(0);
}


#aboutme:target > .biodata > h2 {
    font-size: 1.5;
    width: 100%;
    text-align: center;
    z-index: -1;
}


#aboutme > .biodata > .medsos {
    position: absolute;
    bottom: 5.5vh;
    left: 9%;
    width: 80%;
    height: 12%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 1vw gray;
    padding-top:1vh ;   

} 
#aboutme:target > .biodata > .medsos > a > i {
    font-size: 2.35vw;
}

#aboutme:target > .biodata > .medsos > a:nth-child(1) {
    margin-right: 1vw;
    color: black;
}
#aboutme:target > .biodata > .medsos > a:nth-child(2) { 
    background: linear-gradient(45deg, rgb(255, 175, 0) 0%, rgb(245, 96, 64) 25%, rgb(150, 37, 108) 50%, rgb(227, 73, 154) 75%, rgb(52, 176, 232) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    height: 4vh;
}
#aboutme:target > .biodata > .medsos > a:nth-child(3) { 
    color: rgb(9, 230, 24);
    margin-left: 1vw;
}

#aboutme > .biodata > a {
    text-decoration: none;
    padding: 1.4vh 1.5vw;
    box-shadow: 0 0 1vw gray;
    border-radius: 30px;
    position: absolute;
    bottom: -2vh;
    transform: translateX(-50vw);
    transition: all 0.5s ease-in-out;
    transition-delay:0.3s;
    font-weight: 700;
    color: black;
    cursor: pointer;
    background-color: white;
}

#aboutme:target > .biodata > a {
    transform: translateX(0);
}

#aboutme > .skill-FRONT {
    width: 20vw;
    height: 30vh;
    background-color: white;
    box-shadow: 0 0 1vw gray;
    position: absolute;
    left: 25vw;
    top: 13vh;
    border-radius: 30px;
    padding: 1vh 4vw 1vh 4vw;
    transform: translateX(80vw);
    transition: all 0.5s ease-in-out;
}

#aboutme > .skill-FRONT::before{
    content: 'FRONT DEV';
    position: absolute;
    left: 0;
    top: 0;
    padding: 4.2vh 0.5vw;
    background-color: white;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 1vw gray;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Audiowide", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

#aboutme > .skill-FRONT::after{
    content: 'FRONT DEV';
    position: absolute;
    right: 0;
    top: 0;
    padding: 4.2vh 0.5vw;
    background-color: white;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 1vw gray;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Audiowide", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

#aboutme:target > .skill-FRONT {
    transform: translateX(0);
}
#aboutme > .skill-FRONT > .skillbar {
    width: 20vw;
    height: 7vh;
    margin-top: 2vh;
}

#aboutme > .skill-FRONT > .skillbar > h3{
    font-size: 1vw;
}

#aboutme > .skill-FRONT > .skillbar > .percent {
    width: 20vw;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 30px;
    box-shadow: 0 0 1vw gray;
}

#aboutme> .skill-FRONT > .skillbar > .percent > .bar{
    width:0;
    height: 100%;
    border-radius: 30px;
    transition: all 0.7s ease-in-out; 
    transition-delay: 0.5s;
}

#aboutme:target > .skill-FRONT > .skillbar > .percent > .bar{
    width:92%;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg, rgb(255, 149, 0),rgb(255, 132, 0),rgb(255, 132, 0))
}

#aboutme> .skill-FRONT > .skillbar > .percent > .bar > h3 {
    width: 100%;
    font-size: 1vw;
    text-align: right;
    margin-right: 1vw;
    color: white;
}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(2) > .percent > .bar{
    width:85%;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg, rgb(0, 115, 255),rgb(0, 85, 255),rgb(0, 34, 255))
}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(3) > .percent > .bar{
    width:15%;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg, rgb(251, 255, 0),rgb(255, 234, 0),rgb(251, 255, 0))
}



#aboutme > .skill-BACK {
    width: 20vw;
    height: 30vh;
    background-color: white;
    box-shadow: 0 0 1vw gray;
    position: absolute;
    right: 15vw;
    top: 13vh;
    border-radius: 30px;
    padding: 1vh 4vw 1vh 4vw;
    transform: translateX(0) ;
    transition: all 0.5s ease-in-out;
}

#aboutme > .skill-BACK::before{
    content: 'BACK_ DEV';
    position: absolute;
    left: 0;
    top: 0;
    padding: 4.2vh 0.5vw;
    background-color: white;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 1vw gray;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Audiowide", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

#aboutme > .skill-BACK::after{
    content: 'BACK_ DEV';
    position: absolute;
    right: 0;
    top: 0;
    padding: 4.2vh 0.5vw;
    background-color: white;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 1vw gray;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Audiowide", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

#aboutme:target > .skill-BACK {
    transform:rotate3d(180deg);
}

#aboutme > .skill-BACK > .skillbar {
    width: 20vw;
    height: 7vh;
    margin-top: 2vh;
}

#aboutme > .skill-BACK > .skillbar > h3{
    font-size: 1vw;
}

#aboutme > .skill-BACK > .skillbar > .percent {
    width: 20vw;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 30px;
    box-shadow: 0 0 1vw gray;
}

#aboutme> .skill-BACK > .skillbar > .percent > .bar{
    width:0;
    height: 100%;
    border-radius: 30px;
    transition: all 0.7s ease-in-out; 
    transition-delay: 0.5s;
}

#aboutme:target > .skill-BACK > .skillbar > .percent > .bar{
    width:35%;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg,rgb(207, 1, 207),rgb(192, 0, 192), rgb(175, 0, 175))
}

#aboutme> .skill-BACK > .skillbar > .percent > .bar > h3 {
    width: 100%;
    font-size: 1vw;
    text-align: right;
    margin-right: 1vw;
    color: white;
}

#aboutme> .skill-BACK > .skillbar:nth-child(2) > .percent > .bar > h3 {
    padding-left: 0.5vw;
    color: black;
}

#aboutme> .skill-BACK > .skillbar:nth-child(3) > .percent > .bar > h3 {
    padding-left: 0.5vw;
    color: black;
}

#aboutme:target > .skill-BACK > .skillbar:nth-child(2) > .percent > .bar{
    width:0;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg,rgb(242, 255, 0),yellow, rgb(0, 115, 255),rgb(0, 85, 255));
}

#aboutme:target > .skill-BACK > .skillbar:nth-child(3) > .percent > .bar{
    width:0;
    display: flex;
    align-items: center;
    border-radius: 30px; 
    background: linear-gradient(90deg, rgb(251, 255, 0),rgb(255, 234, 0),rgb(251, 255, 0))
}


@media only screen and (max-width : 780px) {

body {
    width: 100vw;
    height: 100vh;
    overflow: visible;
}

nav {
    height: 5vh;
    position: fixed;
}

nav > .logo {
    font-size: 1vh;
}

nav > label {
    display: block;
    font-size: 3vh;
    margin-right: 2vw;
}

nav > ul {
    width: 40vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    right: 1vw;
    background-color: white;
    border-radius:30px ;
    box-shadow: 0 0 1vh gray;
    transform: translateX(50vw);
    visibility: hidden;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


nav > input:checked ~ ul {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

nav > input:checked ~ label > i::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    background-color: white;
}

nav > ul > li {
    padding-left: 2vw;    
}

nav > ul > li a {
    font-size: 1vh;
}



#content1 > h1 {

margin-top: 7vh;

}



#content1 > label > h2 {
    top: 10%;
    font-size: 5vh;
}

#content1 > h2 {
    top: 10%;
}

#content1 > input:checked + label > h2 {
    transform: scale(0.9) translateY(5vh);
}

#content1 > input:checked ~ h2 {

}

#content1 > .wrapimage > img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-color: transparent;
    order: 1;
}

#content1 > .wrapimage {
    top: 14vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

#content1 > .wrapimage > .webdevoloper {
    order: 2;
    position: absolute;
    top: 35%;
    left:0 ;
}

#content1 > .wrapimage > .UiUx {
    order: 3;
    position: absolute;
    top: 70%;
    right: 0;
}

#content1 > .wrapimage > .webdevoloper,
#content1 > .wrapimage > .UiUx { 
    width: 100vw;
    height:30vh;
    overflow: hidden;
}

#content1 > .wrapimage > .webdevoloper > input + label {
    position: absolute;
    width: 4vh;
    height: 4vh;
    z-index: 1;
    background-color: white;
}

#content1 > .wrapimage > .webdevoloper > input + label > i{
    font-size: 3vh;

}

#content1 > .wrapimage > .webdevoloper > input ~ .text {
    width: 80vw;
    visibility: hidden;
    opacity: 0;
}

#content1 > .wrapimage > .webdevoloper > input ~ .text > h2 {
    margin-top: 1vh;
    font-size: 1.7vh;
}

#content1 > .wrapimage > .webdevoloper > input ~ .text > p {
    font-size: 1.2vh;
}

#content1 > .wrapimage > .webdevoloper > input ~ .text > a {
    padding: 1vh 2vw;
    font-size: 1.2vh;
    position: absolute;
    left: 50%;
    bottom: 5%;
}

#content1 > .wrapimage > .webdevoloper > input:checked + label {
    transform: translate(-85vw);
}

#content1 > .wrapimage > .webdevoloper > input:checked ~ .text {
    visibility: visible;
    opacity: 1;
}


#content1 > .wrapimage > .UiUx > input + label {
    position: absolute;
    width: 4vh;
    height: 4vh;
    z-index: 1;
    background-color: white;
}

#content1 > .wrapimage > .UiUx > input + label > i{
    font-size: 3vh;

}

#content1 > .wrapimage > .UiUx > input ~ .text { 
    width: 80vw;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
}


#content1 > .wrapimage > .UiUx > input:checked + label {
    transform: translate(82vw);
}

#content1 > .wrapimage > .UiUx > input ~ .text > h2 {
    margin-top: 1vh;
    font-size: 1.7vh;
}

#content1 > .wrapimage > .UiUx > input ~ .text > p {
    font-size: 1.2vh;
}

#content1 > .wrapimage > .UiUx > input:checked ~ .text {
    visibility: visible;
    opacity: 1;
}

#content1 > .wrapimage > .UiUx > input ~ .text > a {
    padding: 1vh 2vw;
    font-size: 1vh;
    position: absolute;
    left: 50%;
    bottom: 5%;
    font-size: 1.2vh;
}

#aboutme {}

#aboutme:target ~ #content1 > .wrapimage > img {}

#aboutme > .biodata {}

#aboutme:target > .biodata {}

#aboutme:target > .biodata > h2 {}

#aboutme > .biodata > .medsos {}

#aboutme:target > .biodata > .medsos > a:nth-child(1) {}

#aboutme:target > .biodata > .medsos > a:nth-child(2) {}

#aboutme:target > .biodata > .medsos > a:nth-child(3) {}

#aboutme > .biodata > a {}

#aboutme:target > .biodata > a {}

#aboutme > .skill-FRONT {}

#aboutme:target > .skill-FRONT {}

#aboutme > .skill-FRONT > .skillbar {}

#aboutme > .skill-FRONT > .skillbar > .percent {}

#aboutme> .skill-FRONT > .skillbar > .percent > .bar {}

#aboutme:target > .skill-FRONT > .skillbar > .percent > .bar {}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(2) > .percent > .bar {}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(3) > .percent > .bar {}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(4) > .percent > .bar {}

#aboutme:target > .skill-FRONT > .skillbar:nth-child(5) > .percent > .bar {}

@media only screen and (max-width : 780px) {}

