* {
    padding: 0;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    scroll-behavior: smooth;   

}

body {
    color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
    width: 0.7vw;
    background-color: rgb(38, 38, 38);

}
 body.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background-color: rgb(38, 38, 38);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(224, 0, 0);


}


.loading-screen {
  position: fixed;
  inset: 0;
  background: black;
  color: red;
  font-family: 'Orbitron', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text p {
  font-size: 2vw;
  margin: 5px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.loading-text p.show {
  opacity: 1;
}

.access-msg {
    color: rgb(0, 255, 0);
}



.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: url(https://wallpapersok.com/images/hd/hypnotising-black-and-red-hexagons-1bcjfbamkbdurj5y.jpg);
    background-size: 30%;
    opacity: 1;
    z-index: -1;
}

header {
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 38, 38);
    z-index: 1000;
}

header .logo {
    margin-left: 3vw;
} 

header .logo h1 {
    font-size: 2vw;
    background: linear-gradient(90deg, #ff0000, #ffcfdc, #ffefef);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    webkit-background-clip: text;
    text-shadow: 0 0 8px #ff2f2f, 0 0 16px #ff7e7e
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2.5vw;    
}

header nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
header nav ul li {
    height: fit-content;
    padding: 1vh 10px;
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
header nav ul li::before {
    content: '';
    position: absolute;
    width: calc(100% - 0.2vw);
    height: 100%;
    background-color:  rgb(38, 38, 38);
    z-index: 101;
}

header nav ul li:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

header nav ul li:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 100;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

header nav ul li:hover::after{
    transform: translateY(0);

}

header nav ul li.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 100;
    transform: translateY(0);
}

header nav ul li.active a {
    color:red;
}

header nav ul li.active:hover a {
    color:red;
}




header nav ul li a {
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    z-index: 102;
    transform: scale(0.8, 1.2);
    letter-spacing: 0.2vw;


}

header nav ul li:hover a {
    color: red;
    transition: all 0.3s ease-in-out;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 0.8);
}

main > section {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: none;
}
main > section.active{
    display: block;
    position: absolute;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.4);
}

#home .home-content {
    display: flex;
    position: relative;
    top: 4vh;
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    background-color: rgb(38, 38, 38);
    overflow: hidden;
    opacity: 0;
    scale: 0.8;
    transition: all 0.3s ease-in-out;
}

#home .home-content .image {
    flex: 1;
    background-color: rgb(38, 38, 38);
    transform: translateX(-20vw);
    transition: all 1s ease-in-out 0.2s;
    opacity: 0;


}

#home .home-content .text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(38, 38, 38);
    transform: translateX(20vw);
    transition: all 1s ease-in-out 0.2s;
    opacity: 0;

}

#home.active .home-content,
#home.active .home-content .image,
#home.active .home-content .text {
    transform: translate(0);
    scale: 1;
    opacity: 1;

}

#home .home-content .image .img {
    background-color: red;
    position: absolute;
    bottom: -5vh;
    left: 2vw;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    z-index: 1;
    scale: 0.8;
    animation: summoncircle 1s ease-in-out forwards 7s;
    


}


#home .home-content .image .img h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2.5vw;
}

#home .home-content .image .img .name,
#home .home-content .image .img .please {
    font-size: 2.5vw;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;

}

#home .home-content .image .img .please {
    transform: translateX(-10%);
    visibility: hidden;
    opacity: 0;
    animation: summontext 1s ease-in-out forwards 7.8s;

}

#home .home-content .image .img .name {
    writing-mode: vertical-lr;
    position: absolute;
    top: 14vh;
    left: 3vw;
    line-height: 0;
    transform: translateY(-10%);
    visibility: hidden;
    opacity: 0;
    animation: summontext 1s ease-in-out forwards 7.8s;
}

@keyframes summontext {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        transform: translate(0);
        visibility: visible;
        opacity: 1;
    }
}

#home .home-content .image .img .name span{
    position: relative;
}



#home .home-content .image img {
    position: relative;
    top: 0.8vh;
    right: 2vw;
    width: 35vw;
    z-index: 2;
    transform: translateY(2vw);
    opacity: 0.5;
    animation: summonimage 1s ease-in-out forwards 7s;


    
}



@keyframes summoncircle {
    form {
        box-shadow: 0 0 20px #ff0000;
        scale: 0.8;
    }
    to {
        box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
        scale: 1;
    }
}

@keyframes summonimage {
    from {
        opacity: 0.5;
        transform: translateY(2vw);

    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}


#home .home-content .text .bttn-hire {
    margin: 4vh auto;
    display: flex;  
    justify-content: center;
    width: 80%;
    gap: 2vw;
}

#home .home-content .text button {
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    height: 5vh;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

}

#home .home-content .text button:nth-child(2){
    width: auto;
}

#home .home-content .text button h2 {
    font-size: 1vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #ff0000, #ff0044, #ff0000);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    webkit-background-clip: text;
    text-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000;
} 

#home .home-content .text button:hover h2 {
    animation: fade 1.5s infinite;
}

#home .home-content .text button.active,
#home .home-content .text button.active h2 {
    animation: glitch 1s forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

#home .home-content .text button span {
    font-size: 2vw;
    transform: scale(1,1.6);
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #ff0000, #ff0044, #ff0000);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    webkit-background-clip: text;
}

#home .home-content .text h1  {
    font-size: 2vw;
    font-weight: 500;
    scale: 0.9 1.1;
    letter-spacing: 0.2vw;
    margin-bottom: 1vh;
    cursor: default;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff0000, #ff0044, #ff0000);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    webkit-background-clip: text;
    text-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000;

}



#home .home-content .text > h2  {
    font-size: 1.4vw;
    font-weight: 500;
    scale: 0.9 1.1;
    cursor: default;
    letter-spacing: 0.2vw;
    animation: flicker 1s infinite alternate;


}

.glitch {
    animation: glitchname 2s forwards 1s;

}

@keyframes glitch {
    0% { text-shadow: 2px 2px red; }
    10% { text-shadow: -2px -2px blue; }
    20% { text-shadow: 2px -2px green; }
    30% { text-shadow: -2px 2px yellow; }
    40% { text-shadow: 0 0 white; }
    50% { text-shadow: 2px 2px red; }
    60%{ text-shadow:none; }
    100%{ text-shadow:none; }
}

@keyframes glitchname {
    0% { text-shadow: 2px 2px red; }
    10% { text-shadow: -2px -2px blue; }
    20% { text-shadow: 2px -2px green; }
    30% { text-shadow: -2px 2px yellow; }
    40% { text-shadow: 0 0 white; }
    50% { text-shadow: 2px 2px red; }
    60%{ text-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000; }
    100%{ text-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000; }
}



@keyframes flicker {
    0% { opacity: 1; }
    10% { opacity: 0.3; }
    30% { opacity: 1; } 
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}


#aboutme {
    top: 0;
}

#aboutme.active .profil-card {
    position: absolute;
    top: 50%;
    left: 2vw;
    transform: translate(-10vw,-50%);
    opacity: 0.3;
    width: 20vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(87, 9, 9, 0.8);
    border: 2px red inset;
    border-radius: 5px;
    animation: profil-card 0.5s ease-in-out forwards ;
}

@keyframes profil-card {
    from {
        transform: translate(-10vw,-50%);
        opacity: 0.3;
    } to {
        transform: translate(0,-50%);
    opacity: 1;
    }
}

#aboutme.active .profil-card::after {
    content: 'Agent';
    font-size: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 10vw;
    height: 3.5vh;
    background-color: rgb(182, 0, 0);
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%,10% 100%,0% 50%);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate( -50%,-50%);
} 

#aboutme.active .profil-card .img {
    width: 100%;
    height: 18vw;
    display: inline-block;
    background-color: rgb(38, 38, 38);
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 80% 100%,20% 100%,0% 90%);

}

#aboutme.active .profil-card .img img {
    width: 21vw;
    height: 21vw;
    position: absolute;
    right: 2vw;
    top: -2vh;
    filter: drop-shadow(0 0 10px red);
    animation: profil-img 0.7s ease-in-out forwards 0.5s ;
}





#aboutme.active .profil-card h1 {
    margin-top: 1vh;
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
}

#aboutme.active .profil-card h2 {
    margin-top: 1vh;
    width: 100%;
    text-align: center;
    padding-left:0.2vw;
    font-size: 0.9vw;
    font-weight: 500;
}

#aboutme.active .profil-card button {
    margin-top: 2vh;
    width: 60%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    clip-path: polygon(10% 0%,100% 0,90% 100%,0% 100%);
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: glitch 2s ease-in-out 0.5s;
}

#aboutme.active .profil-card button:hover {
    background-color: rgb(255, 0, 0,0.5);
}

#aboutme.active .profil-card .link-medsoc {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

#aboutme.active .profil-card .link-medsoc i {
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#aboutme.active .profil-card .link-medsoc i:hover {
    color: red;
}

